
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/* full page */
:root{
      --dm-gray     :#666666;
      --carmine     :#8C0B1C;
      --silver     :#C6B3B0;
      --jet     :#333333;
      --chamagne-pink     :#E9D2C0;
      --blue     :#4C6CD9;
}
body{
      background-color: #e8e8e8 !important;
}
* {
      margin: 0 ;
      padding: 0  ;
      text-decoration: none !important ;
      font-family: "Mukta", sans-serif;
      list-style: none;
      box-sizing: border-box !important;
}
.main-h{
      font-size: 26px;
      color: var(--jet);
      text-transform: capitalize;
      font-weight: bolder;
      margin-top: 60px;
      margin-bottom: 20px;

}
.cursor-pointer{
      cursor: pointer;
}
.form-check-input{

      border: 2px solid var(--carmine) !important;

}
.form-check-input:checked  {
      background-color: var(--carmine) !important;
      border-color: var(--carmine) !important;
      }

      .bl_color{
            color: var(--jet)!important;
            font-size: 15px !important;
            font-weight:500 !important;
      }
      b p  {
            display: block;
      }
    
/*  end full page */

/*  hamburger button */
.menu {
      display: none;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
    }
    
    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
#menu-toggle {
      display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }
    
    .menu-button::before {
      content: '';
      margin-top: -8px;
    }
    
    .menu-button::after {
      content: '';
      margin-top: 8px;
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
    
  
/*  hamburger button */
/* headar */
.headar {
      background-color: #f3f3f2;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      position: relative;
}
.headar .logo {
      width: 122px;
}
.headar .i-fav a i{
    font-size: 22px;
}
.right-side-headar{
font-size: 17px;
color: var(--jet) !important;
font-weight:500;
text-transform: capitalize;
}
.right-side-headar a{
      color: var(--jet) !important;
}
.right-side-headar .list:hover  a, .right-side-headar .list:hover  a i  {
color: var(--carmine) !important;
transition: ease-in;
}
.right-side-headar .list:first-child:hover {
      color: var(--carmine) !important;
      transition: ease-out;

}
#currency {
position: relative;
}
#currency ,.list{
      cursor: pointer;
}
.headar-bg{
      width: 780px;
      position: absolute;
      top: 60px;
      right: 0px;
      z-index: -1;
}


.currency-section{

      position: absolute;
      top: 65px;
      left: 535px;
      background-color: #e8e8e8;
      z-index: 77;
      width: 715px;
      height: 350px;
      overflow: scroll;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.ft-li-curr{
      border-radius: 5px;
      overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
text-transform: capitalize;
padding: 5px 10px;

}
.ft-li-curr:hover{
      background-color: var(--chamagne-pink);
      cursor: pointer;
}
.ft-li-curr p{
font-size: 17px;
text-transform: capitalize;
font-weight: 300;

color: var(--dm-gray);
}
.ft-li-curr span{
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--jet);
      }
/*  end headar */
/* intro */
.intro-div{
margin-top: 70px;
}
.intro-head-text{
      font-size: 47px;
      font-weight: bold;
      color: var(--jet);
      text-transform: capitalize;
}
.intro-text{
      font-size: 23px;
      font-weight: 600;
      color: var(--jet);
      text-transform: capitalize;
}

.searchbar{
      display: flex;
      gap: 5px;
}
.searchbar input{
box-shadow: none !important;
border: none;
}
.searchbar .icon-box{
      border: 2px solid var(--carmine);
      border-radius: 2px;
      padding: 8px ;
}
.dest{
      background-color: #e9d2c000;
      cursor: pointer;
}
.dest:focus{
      outline: none;
}
.icon-box i{
      color: var(--carmine);
      font-size: 20px;
}
.icon-box input{
color: var(--jet);
      font-size: 15px;
      margin-top: 3px;
}

.checkin-box, .checkout-box, .travel-box, .submit-search, .dest-box{
      flex: 20%;
      position: relative;
}
.input-text-h {
      position: relative;
}
.input-text-h p , .trvl {
      position: absolute;
      top: -2px;
      left: 29px;
      font-size: 12px;
      font-weight: 600;
      text-transform: capitalize;
}
.submit-search{
      background-color: var(--carmine);
      color: var(--chamagne-pink);
      font-size: 21px;
      font-weight: 500;
      text-transform: capitalize;
}
/* end intro */
/* pop up destination */
.popup-dest{
      width: 650px;
      position: absolute;
      height: 310px;
      background-color:#e8e8e8;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      top: 53px;
      left: 13px;
      overflow-y: scroll;
      z-index: 999;
}
.popup-travel{
      width: 340px;
      position: absolute;
      background-color:#e8e8e8;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      top: 51px;
      left: -1px;
      z-index: 9;
   
}
.location-box:hover{
      background-color:#d9d9d7;
      cursor: pointer;
    
}
.location-box .loc-text-2 {
     color: var(--dm-gray);
font-weight: 200;
font-size: 14px;
}
.location-box .loc-text-1 {
      font-weight: bold;
font-size: 17px;
line-height: 16px;
}
.popup-dest i{
      font-size: 26px;
     color: var(--jet);
}
.cat-ser{
      font-size: 17px;
      text-transform: capitalize;
      color: var(--jet);
}
#ad-num{
      font-size: 19px;

}
.popup-travel i {
      cursor: pointer;
      font-size: 17px;
}
.popup-travel i:hover {
     background-color: var(--chamagne-pink);

}
.done-btn{
      color: var(--carmine);
      border: 2px solid var(--carmine);
      border-radius: 5px;
      font-size: 19px;
      cursor: pointer;
      padding: 5px 0;
}
.done-btn:hover{
     background-color: var(--chamagne-pink);
}
/* end pop up destination */
/* cookie */
#cockie-date{
color: var(--dm-gray);
}
.cockie-box{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 10px 20px; 
}
.cockie-box img {
  width: 77px;
  height: 65px;
}
.cockie-box:hover{
      cursor: pointer;

}
/* end cookie */
/* popular desination */
.des-con{
      position: relative;
      height: 250px;
}
.des-lcon{
      height: 507px;
}
.des-img{
      width: 100%;
      height: 100%;
}
.img-des-text{
      font-size: 24px;
      font-weight: bold;
      color: #F2EDED;
      text-transform: capitalize;
      position: absolute;
      bottom: -8px;
      left:19px;
}
/* popular desination */
/* property type  */
.pro-t-box{
cursor: pointer;
}
.pro-t-box img{
width: 100%;
border-radius: 5px;
height: 175px;
}
.prop-text .prop-p1{
font-size: 19px;
color: var(--jet);
font-weight: bold;
text-transform: capitalize;
}
.prop-text .prop-p2{
      font-size: 14px;
      color: var(--dm-gray);
      text-transform: capitalize;
}
/* end property type  */
/* list your property */
.list-con{
      position: relative;
}
.list-con img{
      width: 100%;
}
.list-text-box{
      position: absolute;
      top: 240px;
      left: 60px;

}
.list-h{
      font-size: 26px;
      text-transform: capitalize;
      color: white;
      font-weight: bold;
      width: 510px;
      line-height: 34px;
}

.list-btn{
      background-color: var(--carmine);
      color: var(--chamagne-pink);
      font-size: 21px;
      font-weight: 700;
      text-transform: capitalize;
      width: fit-content;
      padding: 10px;
      border-radius: 7px;
}

/* end ist your property */
/* end top sec */
.top-chos{
      font-size: 21px;
      font-weight: 600;
      color: var(--jet);
      text-transform: capitalize;
      padding: 1px 16px ;
      cursor: pointer;
      border: 2px solid #ffffff00;
      border-radius: 8px;
}
 .selected{
      border: 2px solid var(--carmine);
      border-radius: 8px;
      color: var(--carmine);
}
.topr-p1{
      font-size: 17px;
      color: var(--jet);
      font-weight: 600;
      text-transform: capitalize;
}
.topr-p2{
      font-size: 15px;
      color: var(--dm-gray);
      font-weight: 400;
      text-transform: capitalize;
}
.fitc {
      width: fit-content;
}

/* end top sec */
/* mail sec */
.mail-sec {
      background-color: var(--chamagne-pink);
  
}
.mail-sec p{
      font-size: 33px;
      font-weight: bold;
      color: var(--carmine);
      text-transform: capitalize;
}

.mail-sec input::placeholder{
      color: var(--carmine);
    text-transform: capitalize;
}
.input-con{
      display: flex;
align-items: center;
justify-content: space-between;
width: 370px;
color: var(--carmine);
border: 1px solid var(--carmine);
border-radius: 7px;
margin: 0 auto;
}
.input-con input{
      height: 100%;
border: none;
width: 100%;
background-color: #33333300;
padding: 10px 20px;
}
.input-con i{
      font-size: 18px;
margin: 0px 5px;
cursor: pointer;
}
.input-con input:focus{
border: none;
outline: none;
}
/* end mail sec */
/* footer sec */

.footer-sec{
      background-color: var(--dm-gray);
}
 .topr-p1h{
      font-size: 21px;
      font-weight: bold;
      color: var(--chamagne-pink);
      text-transform: capitalize;
 }
 .ft-li{
      color: white;
      text-transform: capitalize;
      padding-bottom: 7px;
 }
/* end footer sec */


.skeleton-box {
      display: inline-block;
      height: 37px;
      width: 95%;
      position: relative;
      overflow: hidden;
      background-color: #DDDBDD;
      margin-bottom: 7px;
      margin-left: 15px;
}
      .skeleton-box::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
  
       background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);

        animation: shimmer 2.6s infinite;
        content: '';
      }
    
      @keyframes shimmer {
        100% {
          transform: translateX(100%);
        }
      }


      /*Left section*/
.left {
      /*background-color:#C6B3B0;*/ 
      margin-top: 90px;
   
  }
 
  /*.left .form-check . {
      display: flex;
  }
  .left .form-check #flexCheckDefault8 {
      margin-right: 6px;
      pointer-events: none;
  }
  .left .form-check  label {
      font-weight: 500;
      color: black;
      cursor: pointer;
  }
  .left .form-check #flexCheckDefault8:checked {
      accent-color: #d95163;
  }
  .left .form-check  #flexCheckDefault8:checked ~ label {
      color: black;
  }
  */
  .left .form-check label {
      display: flex;
      justify-content: space-between;
  }
  .left .form-check p {
      float:inline-end;
  }
  .left .Amen .more {
      color: var(--carmine);
      cursor: pointer;
  }
  /*End Left section*/
  /*right section*/
  
  .right .Title {
      display: flex;
      position: relative;
      justify-content: space-between;
  }
  
  .right .evaluation .star {
      color: white;
      font-size: 14px;
      width: fit-content;
      padding: 0px 6px;
      background-color: var(--carmine);
      border-radius: 11px;
      
  }
  .right .evaluation {
      display: flex;
  }
 
  .right .box-title {
      color: var(--carmine);
      display: flex;
      justify-content: space-between;
  
  }
  .right .box-title i {
      padding: 0px 5px;
      align-items: center;
      margin-bottom: 10px;
  }
 
  .right .evaluation .fees .tax {
      display: flex;

  }
  .right .evaluation .fees  i {
      font-size: 21px;
  }
  
  .sm-text{
      font-size: 13px;
  }
  .cancel i {
      color: var(--carmine);
      font-size: 13px;

  }
  .cancel p {
      color: var(--carmine);
      font-size: 13px;
  }
  
  /*END right section*/



/* range section */
.rangetext{
      font-size: 17px;
      color: var(--dm-gray);
      margin-bottom: 30px;

}
  .range_container {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 8px 5px;
    }
    
    .sliders_control {
      position: relative;
      height: 20px;
    }
    
    .form_control {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: #635a5a;
    }
    
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #e8e8e8;
      border: 2px solid var(--carmine);
      border-radius: 50%;
      
      cursor: pointer;
    }
    
    input[type=range]::-moz-range-thumb {

      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #e8e8e8;
      border-radius: 50%;
      
      cursor: pointer;  
    }
    
    input[type=range]::-webkit-slider-thumb:hover {
      background: #f7f7f7;
    }
    
    input[type=range]::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px #8c0b1c, 0 0 9px #8c0b1c;
      -webkit-box-shadow: inset 0 0 3px #8c0b1c, 0 0 9px #8c0b1c;
    }
    
    input[type="number"] {
      color: #8a8383;
      width: 50px;
      height: 30px;
      font-size: 20px;
      border: none;
    }
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
       opacity: 1;
    }
    
    input[type="range"] {
      -webkit-appearance: none; 
      appearance: none;
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #c6c6c600;
      pointer-events: none;
    }
    
    #fromSlider {
      height: 0;
      z-index: 1;
    }
/* range section */
    
    
    


@media (min-width: 1200px) {
      .container {
        width: 1150px !important;
      }
    }



    @media (max-width: 768px) {
      .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        display: flex;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      .headar .logo{
            width: 90px;
      }
      .intro-head-text {
            font-size: 19px;
      }
      .intro-text {
            font-size: 12px;
      }
      .intro-div {
margin-top: 25px;

      }
      .icon-box i{
            font-size: 16px;
      }
      .searchbar .icon-box {
            font-size: 14px;
      }
      .headar-bg{
            top: 46px;
      }


    }