<!DOCTYPE html>
<html lang="en">
<head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/all.min.css">
            <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
            <link rel="shortcut icon" href="img/ki.png" type="image/x-icon">

            <title>Home</title>


            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="stylesheet" href="css/jquery-ui.css" />
            <link rel="stylesheet" href="css/date.css" />

		<link rel="stylesheet" href="css/jquery.selectBoxIt.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

      
</head>
<body ng-app="myApp"  ng-controller="myCtrl" >

      <div class="headar container-fluid border-bottom" style="border-color: var(--dm-gray) !important;">
            <div class="container ">
                  <div class="d-flex  align-items-center justify-content-between">
                     <a href=""><img class="logo" src="images/لقطة الشاشة 2024-02-11 130217-Photoroom 1.png" alt=""></a>
                     <div class="right-side-headar d-none d-md-flex  justify-content-between align-items-center " >
                        <div   ng-click="dispcurfun()" id="currency" class=" list p-2 mx-2 text-uppercase ">USD</div>
      
                              <div ng-show="dispcur" class="currency-section">
                                    <div class="container-fluid">
                              <div    class="d-flex     pb-1 pt-1">
                                    <div class=" p-2 m-2 fitc  ">
                                          <div class=" ">
                                             <div class=" mb-4 ">
                                              <ul class="mt-3 p-0">
                              <li class="ft-li-curr"><span class="font-bold">AED</span> <p class="m-0">emtrites dirham</p></li>
                              <li class="ft-li-curr"><span class="font-bold">USD</span> <p class="m-0"> U.S. Dollar</p></li>
                              <li class="ft-li-curr"><span class="font-bold">INR</span> <p class="m-0">Indian Rupee</p> </li>
                              <li class="ft-li-curr"><span class="font-bold">EUR</span> <p class="m-0">Euro</p> </li>
                              <li class="ft-li-curr"><span class="font-bold">mxn</span> <p class="m-0">mexican peso</p></li>
                              <li class="ft-li-curr"><span class="font-bold">mdl</span> <p class="m-0">moldovan leu</p></li>
                              
      
                              </ul>
                                            </div>
                              
                                           
                                    </div>
                                    </div>
                                    <div class=" p-2 m-2 fitc">
                                          <div class=" ">
                                           <div class=" mb-4 ">
                                         <ul class="mt-3 p-0">
                                          <li class="ft-li-curr"><span class="font-bold">AUD</span> <p class="m-0">Australian Dollar</p></li>
                                          <li class="ft-li-curr"><span class="font-bold">CAD</span> <p class="m-0">Canadian Dollar</p> </li>
                                          <li class="ft-li-curr"><span class="font-bold">THB</span> <p class="m-0">Thai Baht</p></li>
                                          <li class="ft-li-curr"><span class="font-bold">BGN</span> <p class="m-0">Bulgarian Lev</p> </li>
                                          <li class="ft-li-curr"><span class="font-bold">nok</span> <p class="m-0">norwegain krone</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">pln</span> <p class="m-0">polish zloty</p></li>
                  
                              </ul>
                                          </div>
                                          
                                    </div>
                              </div>
                              
                                    <div class=" p-2 m-2 fitc">
                                          <div class=" ">
                                          <div class=" mb-4">
                                          <ul class="mt-3 p-0">
                                                <li class="ft-li-curr"><span class="font-bold">BHD</span> <p class="m-0">Bahraini Dinar</p> </li>
                                                <li class="ft-li-curr"><span class="font-bold">BRL</span> <p class="m-0">Brazilian Real</p> </li>
                                                <li class="ft-li-curr"><span class="font-bold">CZK</span> <p class="m-0">Czech Koruna</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">COP</span> <p class="m-0">Colombian Peso</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">omr</span> <p class="m-0">omani rial</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">qar</span> <p class="m-0">qatari riyal</p></li>
                                            </ul>
                                         </div>
                                    </div>
                                   </div>
                              
                                    <div class=" p-2 m-2 fitc ">
                                          <div class=" ">
                                           <div class=" mb-4 ">
      
                                          <ul class="mt-3 p-0">
                                                <li class="ft-li-curr"><span class="font-bold">RUB</span> <p class="m-0">New Taiwan Dollar</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">MYR</span> <p class="m-0">Malaysian Ringgit</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">JPY</span> <p class="m-0">Japanese Yen</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">NAD</span> <p class="m-0">Namibian Dollar</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">nzd</span> <p class="m-0">new zealand dollar</p></li>
                                                <li class="ft-li-curr"><span class="font-bold">ron</span> <p class="m-0">romanian leu</p></li>
                                          </ul>
                              
                                          </div>
                                    </div>
                                    </div>
                 
      
                              </div>
                              </div>
                              </div>
      
      
                        
                        <div class=" list p-2 mx-2 "><a href="" >list your property</a></div>
                        <div class=" list p-2  mx-2 i-fav "><a href="" class="d-flex align-items-center" > <i class="fa-regular fa-heart pe-1" ></i><p class="p-0 m-0">favourite</p></a></div>
                        <div class=" list p-2 mx-2 i-fav "><a href="" class="d-flex align-items-center" ><i class="fa-regular fa-circle-user pe-1"></i><p class="p-0 m-0">login</p></a></div>

      
                     </div>
                     <input id="menu-toggle" type="checkbox" />
                     <label class='menu-button-container' for="menu-toggle">
                     <div class='menu-button'></div>
                   </label>
                     <ul class="menu container-fluid">
                       <li>One</li>
                       <li>Two</li>
                       <li>Three</li>
                       <li>Four</li>
                       <li>Five</li>
                     </ul>
                </div>
            </div>
      </div>
      <div class="intro-div container ">
            
            <div class=" m-0 searchbar position-relative  container row align-items-center mt-1 mt-sm-5">
                  <div    class=" cursor-pointer  col-12 col-md-3 icon-box  d-flex align-items-center">
                        <i class="fa-regular fa-location-dot pe-1"></i>
                        <input onclick="focus_input()" oninput="cl_dest_api()" class="dest"  type="text" name="dest" data-dest_id="42342" data-dest_id_img="42342" data-dest_type="city" data-dest_fcityname="sd"  id="dest" placeholder="going for">
                        <div  id="popup-dest"  class="popup-dest border p-3" style="display: none;">
                              <!-- <div onclick="addname(event)" data-each_dest_id="1111"  class="location-box p-2 ps-3 rounded d-flex align-items-center">
                                    <i class="fa-regular fa-location-dot pe-3 "></i>
                                    <div class="loc-name-box">
                                        <p  id="loc-head" class="m-0 p-0 loc-text-1  text-capitalize">los angles</p>
                                        <p id="loc-text"  class="m-0 p-0 loc-text-2 text-capitalize ">united states</p>
                                    </div>
                                 </div> -->
      
      
            <ul id="load_anim" class="o-vertical-spacing o-vertical-spacing--l m-0 p-0" style="display: none;">
              <li class="blog-post o-media">
                <div class="o-media__body">
                  <div class="o-vertical-spacing">
                    <p>
                      <span class="skeleton-box" ></span>
                      <span class="skeleton-box" ></span>
                      <span class="skeleton-box" ></span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
      
                            
                        </div>
                  </div>
      
                  <div class="checkin-box  col-12 col-md-2  input-text-h  icon-box  d-flex align-items-center">
                        <i class="fa-regular fa-calendar-days pe-1"></i>
                        <input id="checkin" type="text" class="dest dateselect" required="required"/>
                        <p>checkin</p>
                  </div>
      
                  <div class=" input-text-h  col-12 col-md-2  checkout-box icon-box  d-flex align-items-center">
                        <i class="fa-regular fa-calendar-days pe-1"></i>
                        <input type="text" class="dest dateselect" name="checkout" id="checkout" required="required"/>
                       <p>checkout</p>
                  </div>
                
                  <div    class="dest-box    col-12 col-md-3 icon-box  ">
                        <div ng-click="display=true"     class="d-flex cursor-pointer    align-items-center">
                        <i class="fa-regular fa-user  pe-1"></i>
                        <div class="mt-1"><span id="rooms_num" data-rooms_num="{{count}}">{{ count }} room</span> <span id="adults_num" data-adults_num="{{count1}}" > {{ count1 }} adult</span> <span id="childern_num" data-childern_num="{{count2}}">{{ count2 }} childern</span></div>
                        <p class="trvl">travelers</p>
                  </div>
                        <div  ng-show="display"  id="pol"   class="popup-travel  d-flex flex-column border p-3" >
                              <div>
      
                          <div    class="  ps-3 rounded  align-items-center">
      
                              <div   class="d-flex justify-content-between  align-items-center border-bottom pb-2" style="     border-color: var(--carmine) !important; ">
                                    <p class="p-0 cat-ser  m-0">rooms</p>
                                    <div class=" d-flex align-items-center mt-1">
                                       <i  ng-click = "increment()" class="fa-regular p-1  m-1 rounded m-0 fa-plus"></i>
                                       <p id="ad-num"class=" p-0 m-0 ">{{ count }}</p>
                                       <i  ng-click = "minus()" class="fa-regular  p-1 m-1 rounded m-0 fa-minus"></i>
                                    </div>
                                 </div>
      <!--html comment -->
                               <div class="d-flex justify-content-between  align-items-center border-bottom pb-2" style="     border-color: var(--carmine) !important; ">
                                 <p class="p-0 cat-ser  m-0">adult</p>
                                 <div class=" d-flex align-items-center mt-1">
                                    <i ng-click = "increment1()" class="fa-regular p-1  m-1 rounded m-0 fa-plus"></i>
                                    <p id="ad-num"class=" p-0 m-0 ">{{ count1 }}</p>
                                    <i  ng-click = "minus1()" class="fa-regular  p-1 m-1 rounded m-0 fa-minus"></i>
                                 </div>
                              </div>
      
                              <div class="d-flex justify-content-between  align-items-center border-bottom pb-2" style="     border-color: var(--carmine) !important; ">
                                    <p class="p-0 cat-ser  m-0">childern</p>
                                    <div class=" d-flex align-items-center mt-1">
                                       <i  ng-click = "increment2()" class="fa-regular p-1  m-1 rounded m-0 fa-plus"></i>
                                       <p id="ad-num"class=" d-flex p-0 m-0 ">{{ count2 }}</p>
                                       <i  ng-click = "minus2()" class="fa-regular  p-1 m-1 rounded m-0 fa-minus"></i>
                                    </div>
                                 </div>
                              </div>
                                 <div ng-click="display=false"  class="done-btn mt-3 text-capitalize text-center">done</div>
                          </div>
                        </div>
                  </div>
                  <div onclick="gethotels()" class="submit-search cursor-pointer  col-12 col-md-1 p-2 text-center">search</div>
            </div>
      </div>
            <!--image section--> 

      <div class="container">
            <div class=" d-flex justify-content-between mt-5 mb-2 p-0 ">
                  <!-- <h2 id="rs_num" class="font-weight-bold" style="text-align: left; font-weight: bold;">Showing 442 hotelsinNew York, NY</h2> -->
                  <li class=" container d-flex align-items-center uper-div-li " style="color: #8C0B1C; position:relative;"> 
                        <i class="fa-solid fa-arrow-left me-2"></i>                                          <p ng-click="" class=" text-capitalize m-0 cursor-pointe" >see all properties</p>

                  </li>
                  <div class="  lis  i-fav m-0 p-0 ">
                    <li class=" m-0  d-flex align-items-center rounded-btn " style="color: #8C0B1C; position:relative;"> 
                        <i class="fa-regular fa-heart me-2"  style="font-size: 19px;"></i>
                        <p ng-click="" class="p-0 m-0 cursor-pointe" >save</p>

                    </li>
                 </div>
            </div>
            <div id="img-sec">
                  
            </div>
      </div>
<!-- end image section--> 
<!-- start overreview section--> 
<div class="container ">
      <div class="d-flex justify-content-between align-items-center">
            <div class="left-or-nav">
                  <ul class="d-flex p-0 m-0">
                        <li class="orseleted">overview</li>
                        <li>rooms</li>
                        <li>reviews</li>
                        <li>asked questions</li>
                        <li>policies</li>
                  </ul>

            </div>
            <div class="right-or-nav">
                        <li class=" m-0  d-flex align-items-center reverse-btn " > 
                              <p ng-click="" class="p-0 m-0 cursor-pointer" >reverse a room</p>
                          </li>
            </div>
      </div>
      
</div>

<!-- end overreview section--> 

<!-- start hotel destails section--> 
<div class="container">
      <div class="row">
            <div id="hoteldet_sec" class="col-md-8">
            
                  <div id="desc-sec" class=" mb-3 description">
                        <h4 class="mt-3 text-capitalize" ><b>description</b></h4>
                  </div>
                  <div class="pop-amen mb-3 ">
                        <h4  class="mt-3 text-capitalize" ><b>popular amenties</b></h4>
                        <div id="amen-sec" class="row row-cols-3">
                              


                        </div>

                  </div>


            </div>
            <div class="col-md-4 mt-4 ">
                  <div class="d-flex flex-column align-items-end">

                  
                  <div class="d-flex align-items-start justify-content-end min-price-sec">
                        <p class="me-1" id="min-cur">AED</p>
                        <p class="m-0"id="min-price">743</p>
                  </div>
                  <p style="color: var(--dm-gray);"> price per night</p>
                  <div class="detils-map">
                        <img src="images/Screen Shot 2024-02-13 at 11.16 1.png" alt="">
                  </div>
            </div>
                  <div class="loctions align-items-start ">
                        <h5 class="text-capitalize mt-2"><b>nearby places</b></h5>
                        <div id="nearby_sec" class="near-loc">
                              
                              
                             
                        </div>
                        
                  </div>
            </div>
      </div>
</div>

<!--start rating  section -->
<div class="container">
      <h4 class="mt-3 mb-3 text-capitalize" ><b>guest reviews</b></h4>
      <div id="rv_section" class="row row-cols-3 mb-4 ">
           
            </div>
</div>


<!--end rating  section -->
<!--start question  section -->
<div class="container">
      <div class="row">
            <div id="ques_sec" class="col-md-9">
                  <h4 class="mt-3 mb-3 text-capitalize" ><b>asked questions</b></h4>
                
                  



            </div>
      </div>


</div>


<!--end question section -->

<!--start policies section -->
<div class="container ">
      <div class="row">

   
      <div id="policy_sec"class="col-md-12">
     
      <h4 class="mt-3 mb-3 text-capitalize" ><b>guest policies</b></h4>

    
      
  </div>
</div>

</div>

<!--end policies section -->


<!-- end hotel destails  section--> 


<!--email section-->
<div class="mail-sec pt-5 pb-5">
      <div class="row">
            <div class="col-md-12 fitc m-auto">
                  <div class="fitc m-auto text-center ">

                 
                  <p class="text-center m-0 p-0">Save time, save money!</p>
                  <p  class="text-center m-0 p-0">Sign up and we'll send the best deals to you</p>
                  <div class="input-con mt-4 mb-2">
                        <input  class="" type="text" placeholder="email">
                        <i class="fa-solid fa-arrow-right"></i>

                  </div>
                
            </div>
            </div>
      </div>


</div>
<!--end email section-->
<!-- footer section-->
<div class="footer-sec">
      <div class="container">
<div    class="d-flex justify-content-between    pb-5 pt-5">
      <div class=" pt-3 fitc  ">
            <div class=" ">
               <div class="prop-text mb-4 ">
                  <p class="mb-2 topr-p1h text-start p-0">our products</p>
                  <ul class="mt-3 p-0">
<li class="ft-li">hotel express dealsl </li>
<li class="ft-li">hotels</li>
<li class="ft-li">experiences</li>
<li class="ft-li">bundle + save</li>
</ul>
              </div>

             
      </div>
      </div>
      <div class=" pt-3 fitc">
            <div class=" ">
             <div class="prop-text mb-4 ">
                  <p class="mb-2 topr-p1h text-start p-0">company</p>
                  <ul class="mt-3 p-0">
<li class="ft-li">careers</li>
<li class="ft-li">media center</li>
<li class="ft-li">terms and condition</li>
<li class="ft-li">privacy policy</li>
</ul>
            </div>
            
      </div>
</div>

      <div class=" pt-3 fitc">
            <div class=" ">
            <div class="prop-text mb-4">
                 <p class="mb-2 topr-p1h text-start p-0">partner with priceline</p>
            <ul class="mt-3 p-0">
<li class="ft-li">add your hotel</li>
<li class="ft-li">priceline patern solution</li>
<li class="ft-li">advertise</li>
</ul>

           </div>
          
      </div>
     </div>


      <div class=" pt-3 fitc ">
            <div class=" ">
             <div class="prop-text mb-4 ">
                  <p class="mb-2 topr-p1h text-start p-0">connect with us</p>
            <ul class="mt-3 p-0">
                  <li class="ft-li">price line for ios</li>
                  <li class="ft-li">priceline for android</li>
                  <li class="ft-li">facebook</li>
                  <li class="ft-li">youtube</li>
            </ul>

            </div>
      </div>
      </div>
</div>
</div>
</div>

















<script src="javascript/script.js"></script>
<script src="javascript/jquery-1.12.1.min.js"></script>
<script src="javascript/range.js"></script>

<!-- <script src="javascript/jquery-ui.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<!-- <script src="javascript/jquery.selectBoxIt.min.js"></script> -->
<!-- <script src="javascript/swiper-bundle.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

<script src="javascript/front.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="javascript/angular.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->
<script src="javascript/validate.js"></script>
<script src="javascript/date.js"></script>
</body>
